<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtpaxTyQxNdCVUSCsNu9bme6fD5cp3lSs</string>
	<key>GCM_SENDER_ID</key>
	<string>768066754085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.truck.trucks</string>
	<key>PROJECT_ID</key>
	<string>truckhub-e5499</string>
	<key>STORAGE_BUCKET</key>
	<string>truckhub-e5499.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768066754085:ios:fe0bf6f68567441c3951cc</string>
</dict>
</plist>